<div>
    <h1>Mireseerdhe ne Codevider, <strong>{{ name }}</strong></h1>
    <p>Kredencialet per te hyr ne llogarine tuaj jane keto:</p>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Password:</strong> <em>{{password}}</em></p>
    <small>*Fjalekalimi juaj eshte i ndryshueshem</small>
</div>