<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{subject}}</title> 
</head>
<body>
  <h1>{{subject}}</h1> 
  <p>Dear {{name}},</p>
  <p>{{customMessage}}</p>
  <p>Best regards,</p>
  <p>The HR Team</p>
</body>
</html>
