<!DOCTYPE html>
<html>
<head>
    <title>Employment Confirmation</title>
</head>
<body>
    <p>Dear {{firstName}} {{lastName}},</p>
    <p>Congratulations! We are pleased to inform you that you have been employed at our company.</p>
    <p>Best regards,<br>HR Team</p>
</body>
</html>
