<!DOCTYPE html>
<html>
<head>
    <title>Interview Rescheduled</title>
</head>
<body>
    <p>Dear {{firstName}} {{lastName}},</p>
    <p>Your interview has been rescheduled to the following date and time:</p>
    <p>New Date and Time: {{newInterviewDate}}</p>
    <p>Best regards,<br>HR Team</p>
</body>
</html>