<!DOCTYPE html>
<html>
<head>
    <title>Interview Scheduled</title>
</head>
<body>
    <p>Dear {{firstName}} {{lastName}},</p>
    <p>Your {{phase}} interview has been scheduled for {{interviewDate}}.</p>
    <p>Best regards,<br>HR Team</p>
</body>
</html>
