<!DOCTYPE html>
<html>
<head>
  <title>Interview Rescheduled</title>
</head>
<body>
  <p>Dear {{firstName}} {{lastName}},</p>
  <p>Your {{phase}} interview has been rescheduled to {{newInterviewDate}}.</p>
  <p>Thank you,</p>
  <p>Your Company</p>
</body>
</html>
