<!DOCTYPE html>
<html>
<head>
    <title>Second Interview Scheduled</title>
</head>
<body>
    <p>Dear {{firstName}} {{lastName}},</p>
    <p>We are pleased to inform you that your second interview has been scheduled.</p>
    <p>Date and Time: {{interviewDate}}</p>
    <p>Best regards,<br>HR Team</p>
</body>
</html>
