<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Application Received</title>
</head>
<body>
  <h1>Application Received Successfully</h1>
  <p>Dear {{name}},</p>
  <p>Thank you for applying for the position of {{positionApplied}} at our company. We have received your application and our team will review it soon.</p>
  <p>We will get back to you with the next steps.</p>
  <p>Best regards,</p>
  <p>The HR Team</p>
</body>
</html>
