<div style="font-family: Arial, sans-serif; color: #333; line-height: 1.6; max-width: 700px; margin: 0 auto; border: 1px solid #ddd; border-radius: 8px; background-color: #ffffff;">

  <!-- Header Section with Logo -->
  <div style="background-color: #ffffff; padding: 1px; border-top-left-radius: 1px; border-top-right-radius: 1px; text-align: center;">
    <img src="https://firebasestorage.googleapis.com/v0/b/exypnos-63ca1.appspot.com/o/images%2Flogo-dark.webp?alt=media" alt="Company Logo" style="width: 650px; border-radius: 1px; max-width: 100%; height: auto;">
  </div>

  <!-- Main Body of Email -->
  <div style="padding: 30px; background-color: #f9f9f9;">
    <h1 style="font-size: 24px; color: #333;">Mireseerdhe ne Codevider, <strong>{{ name }}</strong></h1>

    <p style="font-size: 16px; color: #333;">
      Kredencialet per te hyr ne llogarine tuaj jane keto:
    </p>

    <p style="font-size: 16px; color: #333;">
      <strong>Email:</strong> {{ email }}
    </p>

    <p style="font-size: 16px; color: #333;">
      <strong>Password:</strong> <em>{{ password }}</em>
    </p>

    <small style="font-size: 12px; color: #555;">
      *Fjalekalimi juaj eshte i ndryshueshem
    </small>
  </div>

  <!-- Footer Section -->
  <div style="padding: 20px; background-color: #007bff; color: white; text-align: center; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
    <p style="font-size: 16px;">Best regards,<br/><strong>CodeVider</strong></p>

    <!-- Company Website Link -->
    <p style="font-size: 14px; margin-top: 10px;">
      Visit our website: <a href="https://www.codevider.com/" style="color: white; text-decoration: underline;">www.codevider.com</a>
    </p>
  </div>
</div>
